/*--ITEMS IMAGES--*/

.item-1 {
	background-image: url(../images/newsletter/newsletter-201411.jpg);
}

.item-2 {
	background-image: url(../images/newsletter/newsletter-201410.jpg);
}

.item-3 {
	background-image: url(../images/newsletter/newsletter-201409.jpg);
}

.item-4 {
	background-image: url(../images/newsletter/newsletter-201408.jpg);
}

.item-5 {
	background-image: url(../images/newsletter/newsletter-201407.jpg);
}

.item-6 {
	background-image: url(../images/newsletter/newsletter-201406.jpg);
}

.item-7 {
	background-image: url(../images/newsletter/newsletter-201405.jpg);
}

.item-8 {
	background-image: url(../images/newsletter/newsletter-201404.jpg);
}

.item-9 {
	background-image: url(../images/newsletter/newsletter-201403.jpg);
}

.item-10 {
	background-image: url(../images/newsletter/newsletter-201403.jpg);
}